@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qmnj0y');
  src:  url('fonts/icomoon.eot?qmnj0y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qmnj0y') format('truetype'),
    url('fonts/icomoon.woff?qmnj0y') format('woff'),
    url('fonts/icomoon.svg?qmnj0y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-user1:before {
  content: "\e90a";
}
.icon-basic-data1:before {
  content: "\e9a7";
  color: #d5e2e5;
}
.icon-Batch-deleting1:before {
  content: "\e9a8";
}
.icon-C-category1:before {
  content: "\e9a9";
  color: #d5e2e5;
}
.icon-Cancel-billing1:before {
  content: "\e9aa";
}
.icon-cancel-SVN1:before {
  content: "\e9ab";
}
.icon-Compare-bills1:before {
  content: "\e9ac";
}
.icon-Counter-trial1:before {
  content: "\e9ad";
}
.icon-down-arrow1:before {
  content: "\e9ae";
  color: #595959;
}
.icon-error-big1:before {
  content: "\e9af";
  color: #f5222d;
}
.icon-help-21:before {
  content: "\e9b0";
  color: #d5e2e5;
}
.icon-help-big1:before {
  content: "\e9b1";
  color: #1890ff;
}
.icon-Home-page1:before {
  content: "\e9b2";
  color: #595959;
}
.icon-Ignore-passback1:before {
  content: "\e9b3";
}
.icon-into-warehouse1:before {
  content: "\e9b4";
  color: #d5e2e5;
}
.icon-left-arrow1:before {
  content: "\e9b5";
  color: #d5e2e5;
}
.icon-left-arrow_all1:before {
  content: "\e9b6";
  color: #595959;
}
.icon-Left-turn1:before {
  content: "\e9b7";
}
.icon-multiple-files1:before {
  content: "\e9b8";
}
.icon-Order-to-match1:before {
  content: "\e9b9";
}
.icon-position:before {
  content: "\e9ba";
}
.icon-reset-21:before {
  content: "\e9bb";
}
.icon-reset-password1:before {
  content: "\e9bc";
}
.icon-restore-SVN1:before {
  content: "\e9bd";
}
.icon-right-arrow_all1:before {
  content: "\e9be";
  color: #595959;
}
.icon-right-turn1:before {
  content: "\e9bf";
}
.icon-save2:before {
  content: "\e9c0";
}
.icon-search-21:before {
  content: "\e9c1";
  color: #d5e2e5;
}
.icon-search-service1:before {
  content: "\e9c2";
  color: #d5e2e5;
}
.icon-see-list1 .path1:before {
  content: "\e9c3";
  color: rgb(65, 144, 219);
}
.icon-see-list1 .path2:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-standard-quotation:before {
  content: "\e9c5";
  color: #d5e2e5;
}
.icon-statementManage:before {
  content: "\e9c6";
  color: #d5e2e5;
}
.icon-systemManage:before {
  content: "\e9c7";
  color: #d5e2e5;
}
.icon-tacticsManage:before {
  content: "\e9c8";
  color: #d5e2e5;
}
.icon-up-arrow1:before {
  content: "\e9c9";
  color: #d5e2e5;
}
.icon-VIP-batch1:before {
  content: "\e9ca";
}
.icon-warn-big1:before {
  content: "\e9cb";
  color: #faad14;
}
.icon-abnorConfirm:before {
  content: "\e900";
}
.icon-add-user:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-add_Pictures:before {
  content: "\e903";
  color: #595959;
}
.icon-addListing:before {
  content: "\e904";
}
.icon-align_left:before {
  content: "\e905";
  color: #595959;
}
.icon-align_middle:before {
  content: "\e906";
  color: #595959;
}
.icon-align_right:before {
  content: "\e907";
}
.icon-approved:before {
  content: "\e908";
}
.icon-areaArrow_down:before {
  content: "\e909";
  color: #6b6b6b;
}
.icon-audited:before {
  content: "\e90b";
}
.ivu-icon-ios-paper:before{
  color:#d5e2e5;
}
.icon-authorityManage:before {
  content: "\e90c";
  color: #d5e2e5;
}
.icon-back:before {
  content: "\e90d";
}
.icon-backRec:before {
  content: "\e90e";
}
.icon-basic-data:before {
  content: "\e90f";
  color: #d5e2e5;
}
.icon-Batch-deleting:before {
  content: "\e910";
}
.icon-Bill:before {
  content: "\e911";
}
.icon-border:before {
  content: "\e912";
  color: #595959;
}
.icon-breakUp:before {
  content: "\e913";
  color: #595959;
}
.icon-C-category:before {
  content: "\e914";
  color: #d5e2e5;
}
.icon-Cancel-billing:before {
  content: "\e915";
}
.icon-cancel-SVN:before {
  content: "\e916";
}
.icon-Cancel_Invoice:before {
  content: "\e917";
}
.icon-Cells:before {
  content: "\e918";
}
.icon-clock-circle:before {
  content: "\e919";
  color: #bfbfbf;
}
.icon-close:before {
  content: "\e91a";
  color: #979797;
}
.icon-Compare-bills:before {
  content: "\e91b";
}
.icon-confirm:before {
  content: "\e91c";
}
.icon-Counter-trial:before {
  content: "\e91d";
}
.icon-creInvoice:before {
  content: "\e91e";
}
.icon-custom:before {
  content: "\e91f";
}
.icon-Datepicker:before {
  content: "\e920";
  color: #bfbfbf;
}
.icon-delete:before {
  content: "\e921";
}
.icon-diaobo:before {
  content: "\e922";
}
.icon-Differences:before {
  content: "\e923";
}
.icon-disable:before {
  content: "\e924";
}
.icon-down-arrow:before {
  content: "\e925";
  color: #595959;
}
.icon-download:before {
  content: "\e926";
}
.icon-edit:before {
  content: "\e927";
}
.icon-edit_del:before {
  content: "\e928";
  color: #f5222d;
}
.icon-edit_list:before {
  content: "\e929";
  color: #faad14;
}
.icon-edit_load:before {
  content: "\e92a";
  color: #52c41a;
}
.icon-editAdd:before {
  content: "\e92b";
  color: #faad14;
}
.icon-editMminus:before {
  content: "\e92c";
  color: #0ec1af;
}
.icon-enable:before {
  content: "\e92d";
}
.icon-enlarge:before {
  content: "\e92e";
}
.icon-error-big:before {
  content: "\e92f";
  color: #f5222d;
}
.icon-error:before {
  content: "\e930";
  color: #f5222d;
}
.icon-exit:before {
  content: "\e931";
}
.icon-exit-Screen:before {
  content: "\e932";
  color: #d5e2e5;
}
.icon-export:before {
  content: "\e933";
}
.icon-folding:before {
  content: "\e934";
  color: #d5e2e5;
}
.icon-fontColor .path1:before {
  content: "\e935";
  color: rgb(0, 0, 0);
}
.icon-fontColor .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(245, 34, 45);
}
.icon-freeze:before {
  content: "\e937";
}
.icon-full-Screen:before {
  content: "\e938";
  color: #d5e2e5;
}
.icon-geteDoc:before {
  content: "\e939";
}
.icon-getList:before {
  content: "\e93a";
}
.icon-goodsFinish:before {
  content: "\e93b";
}
.icon-help-2:before {
  content: "\e93c";
  color: #d5e2e5;
}
.icon-help-big:before {
  content: "\e93d";
  color: #1890ff;
}
.icon-help:before {
  content: "\e93e";
  color: #1890ff;
}
.icon-HelpCenter_icon:before {
  content: "\e93f";
  color: #d5e2e5;
}
.icon-Home-page:before {
  content: "\e940";
  color: #595959;
}
.icon-ic_ucheck:before {
  content: "\e941";
}
.icon-Ignore-passback:before {
  content: "\e942";
}
.icon-import:before {
  content: "\e943";
}
.icon-IncreaseFont:before {
  content: "\e944";
}
.icon-index:before {
  content: "\e945";
}
.icon-inputStatus:before {
  content: "\e946";
}
.icon-insert_bottom:before {
  content: "\e947";
  color: #595959;
}
.icon-insert_left:before {
  content: "\e948";
  color: #595959;
}
.icon-insert_right:before {
  content: "\e949";
  color: #595959;
}
.icon-into-warehouse:before {
  content: "\e94a";
  color: #d5e2e5;
}
.icon-inTuo:before {
  content: "\e94b";
  color: #f08519;
}
.icon-invalid:before {
  content: "\e94c";
}
.icon-inventory:before {
  content: "\e94d";
  color: #d5e2e5;
}
.icon-kucun:before {
  content: "\e94e";
}
.icon-lashen:before {
  content: "\e94f";
  color: #8db0b8;
}
.icon-lastPage:before {
  content: "\e950";
  color: #595959;
}
.icon-left-arrow:before {
  content: "\e951";
  color: #d5e2e5;
}
.icon-left-arrow_all:before {
  content: "\e952";
  color: #595959;
}
.icon-Left-turn:before {
  content: "\e953";
}
.icon-lineKefu:before {
  content: "\e954";
  color: #d5e2e5;
}
.icon-locking:before {
  content: "\e955";
}
.icon-luyouxinxi:before {
  content: "\e956";
}
.icon-merge:before {
  content: "\e957";
  color: #595959;
}
.icon-missing:before {
  content: "\e958";
}
.icon-Mixed:before {
  content: "\e959";
}
.icon-moveDown:before {
  content: "\e95a";
  color: #3fcebf;
}
.icon-moveUp:before {
  content: "\e95b";
  color: #f08519;
}
.icon-multiple-files:before {
  content: "\e95c";
}
.icon-narrow .path1:before {
  content: "\e95d";
  color: rgb(255, 255, 255);
}
.icon-narrow .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(38, 38, 38);
}
.icon-nextPage:before {
  content: "\e95f";
  color: #595959;
}
.icon-note:before {
  content: "\e960";
}
.icon-Order-to-match:before {
  content: "\e961";
}
.icon-outbound:before {
  content: "\e962";
  color: #d5e2e5;
}
.icon-packing:before {
  content: "\e963";
  color: #d5e2e5;
}
.icon-photograph:before {
  content: "\e964";
}
.icon-pickingSet:before {
  content: "\e965";
}
.icon-pickingType:before {
  content: "\e966";
}
.icon-piliang:before {
  content: "\e967";
}
.icon-PMcode:before {
  content: "\e968";
}
.icon-prePage:before {
  content: "\e969";
  color: #595959;
}
.icon-preview:before {
  content: "\e96a";
  color: #595959;
}
.icon-print:before {
  content: "\e96b";
}
.icon-question:before {
  content: "\e96c";
  color: #d5e2e5;
}
.icon-quxiaOder:before {
  content: "\e96d";
}
.icon-reduction .path1:before {
  content: "\e96e";
  color: rgb(38, 38, 38);
}
.icon-reduction .path2:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(240, 133, 25);
}
.icon-reduction .path3:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(240, 133, 25);
}
.icon-refresh:before {
  content: "\e971";
}
.icon-registBox:before {
  content: "\e972";
}
.icon-reportManage:before {
  content: "\e973";
  color: #d5e2e5;
}
.icon-reSent:before {
  content: "\e974";
}
.icon-reset-2:before {
  content: "\e975";
}
.icon-reset-password:before {
  content: "\e976";
}
.icon-reset:before {
  content: "\e977";
}
.icon-restore-SVN:before {
  content: "\e978";
}
.icon-review:before {
  content: "\e979";
}
.icon-right-arrow_all:before {
  content: "\e97a";
  color: #595959;
}
.icon-right-turn:before {
  content: "\e97b";
}
.icon-right-arrow:before {
  content: "\e97c";
  color: #595959;
}
.icon-rOK:before {
  content: "\e97d";
  color: #fff;
}
.icon-save:before {
  content: "\e97e";
}
.icon-search-2:before {
  content: "\e97f";
  color: #d5e2e5;
}
.icon-search-service:before {
  content: "\e980";
  color: #d5e2e5;
}
.icon-search:before {
  content: "\e981";
}
.icon-see-list .path1:before {
  content: "\e982";
  color: rgb(65, 144, 219);
}
.icon-see-list .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sendNext:before {
  content: "\e984";
  color: #595959;
}
.icon-sequence-Drop:before {
  content: "\e985";
  color: #0ec1af;
}
.icon-sequence-nor:before {
  content: "\e986";
  color: #bfbfbf;
}
.icon-sequence-UP:before {
  content: "\e987";
  color: #0ec1af;
}
.icon-set_icon:before {
  content: "\e988";
  color: #d5e2e5;
}
.icon-sign:before {
  content: "\e989";
}
.icon-size:before {
  content: "\e98a";
}
.icon-specified:before {
  content: "\e98b";
}
.icon-standardQuotation:before {
  content: "\e98c";
  color: #d5e2e5;
}
.icon-statement:before {
  content: "\e98d";
}
.icon-Statistics:before {
  content: "\e98e";
}
.icon-storehouse:before {
  content: "\e98f";
}
.icon-success:before {
  content: "\e990";
  color: #52c41a;
}
.icon-SUKImport:before {
  content: "\e991";
}
.icon-systemSeting:before {
  content: "\e992";
  color: #d5e2e5;
}
.icon-table:before {
  content: "\e993";
}
.icon-table_ex:before {
  content: "\e994";
}
.icon-table_fold:before {
  content: "\e995";
}
.icon-taskSend:before {
  content: "\e996";
}
.icon-textBox:before {
  content: "\e997";
}
.icon-Transfer_Send:before {
  content: "\e998";
}
.icon-transfers:before {
  content: "\e999";
  color: #d5e2e5;
}
.icon-tuo:before {
  content: "\e99a";
  color: #0ec1af;
}
.icon-unfold:before {
  content: "\e99b";
  color: #d5e2e5;
}
.icon-unfreeze:before {
  content: "\e99c";
}
.icon-unloaded:before {
  content: "\e99d";
}
.icon-Unlock:before {
  content: "\e99e";
}
.icon-unsold:before {
  content: "\e99f";
  color: #d5e2e5;
}
.icon-up-arrow:before {
  content: "\e9a0";
  color: #d5e2e5;
}
.icon-upload:before {
  content: "\e9a1";
}
.icon-User_icon:before {
  content: "\e9a2";
  color: #e4e4e4;
}
.icon-VIP-batch:before {
  content: "\e9a3";
}
.icon-WarehouseUp:before {
  content: "\e9a4";
}
.icon-warn-big:before {
  content: "\e9a5";
  color: #faad14;
}
.icon-warn:before {
  content: "\e9a6";
  color: #faad14;
}
